PG_USER=cdc_user
PG_PASSWORD=change-me-cdc
PG_DB=sourcedb

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=change-me-minio

JUPYTER_TOKEN=change-me-token

AIRFLOW_USER=admin
AIRFLOW_PASSWORD=change-me-airflow

CDC_TOPIC_PREFIX=dbserver1
TAXI_TOPIC=taxi-trips
